@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Molle:ital@1&family=Monoton&family=Permanent+Marker&family=Shrikhand&family=Ubuntu&display=swap");
* {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

header {
  border: 1px solid black;
  height: 70vh;
  background-image: url(/img/topBackImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header .header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 100%;
  border: 1px solid black;
  color: white;
  background-color: rgba(0, 0, 0, 0.514);
}

header .header-contents h1 {
  font-size: 9rem;
  font-family: 'Monoton', cursive;
}

header .header-contents p {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 900px) {
  header .header h1 {
    font-size: 7rem;
  }
  header .header p {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 70vh;
  }
  header .header h1 {
    font-size: 6rem;
  }
  header .header p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  header .header h1 {
    font-size: 4.5rem;
  }
  header .header P {
    font-size: 1.5rem;
  }
}

.information {
  padding: 30px;
  margin-top: 30px;
}

.information p {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.information .info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(236, 236, 236, 0.479);
  padding: 0;
}

.information .info-left h2 {
  font-size: 4.5rem;
  font-family: 'Permanent Marker', cursive;
}

.information .info-right {
  padding: 0;
}

.information .info-right img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 996px) {
  .information .info-left h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .information .info-left {
    height: 40vh;
  }
  .information .info-left h2 {
    font-size: 4rem;
  }
  .information .info-right {
    height: 45vh;
  }
}

@media screen and (max-width: 768px) {
  .information {
    padding-left: 0;
    padding-right: 0;
  }
}

.information2 {
  padding: 30px;
  margin-bottom: 30px;
}

.information2 p {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.information2 .info2-left {
  padding: 0;
}

.information2 .info2-left img {
  width: 100%;
  height: 100%;
}

.information2 .info2-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(236, 236, 236, 0.479);
  padding: 0;
}

.information2 .info2-right h2 {
  font-size: 4rem;
  font-family: 'Permanent Marker', cursive;
}

@media screen and (max-width: 996px) {
  .information2 .info2-right h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .information2 .info2-left {
    height: 40vh;
  }
  .information2 .info2-right {
    height: 45vh;
  }
  .information2 .info2-right h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .information2 {
    padding-left: 0;
    padding-right: 0;
  }
}

.albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  background-color: rgba(236, 236, 236, 0.582);
}

.albums .album-title {
  font-size: 4.5rem;
  margin: 20px 0;
  padding: 0;
}

.albums .album-title h2 {
  font-family: 'Permanent Marker', cursive;
}

.albums img {
  -webkit-box-shadow: 10px 10px 10px -10px;
          box-shadow: 10px 10px 10px -10px;
}

.albums .al-left h2 {
  font-size: 3rem;
  margin-top: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.albums .al-left p {
  margin-top: 15px;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.albums .al-left i {
  font-size: 1.5rem;
  margin-top: 10px;
}

.albums .al-left img {
  width: 100%;
}

.albums .al-left .fa-spotify {
  color: rgba(26, 145, 26, 0.747);
}

.albums .al-left .fa-spotify:hover {
  color: #3a5322;
}

.albums .al-left .fa-apple {
  color: rgba(221, 47, 154, 0.747);
  margin: 0 15px;
}

.albums .al-left .fa-apple:hover {
  color: #53224f;
}

.albums .al-left .fa-youtube {
  color: rgba(230, 0, 0, 0.74);
}

.albums .al-left .fa-youtube:hover {
  color: #532222;
}

.albums .al-middle h2 {
  font-size: 3rem;
  margin-top: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.albums .al-middle p {
  margin-top: 15px;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.albums .al-middle i {
  font-size: 1.5rem;
  margin-top: 10px;
}

.albums .al-middle img {
  width: 100%;
}

.albums .al-middle .fa-spotify {
  color: rgba(26, 145, 26, 0.747);
}

.albums .al-middle .fa-spotify:hover {
  color: #3a5322;
}

.albums .al-middle .fa-apple {
  color: rgba(221, 47, 154, 0.747);
  margin: 0 15px;
}

.albums .al-middle .fa-apple:hover {
  color: #53224f;
}

.albums .al-middle .fa-youtube {
  color: rgba(230, 0, 0, 0.74);
}

.albums .al-middle .fa-youtube:hover {
  color: #532222;
}

.albums .al-right h2 {
  font-size: 3rem;
  margin-top: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.albums .al-right p {
  margin-top: 15px;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.albums .al-right i {
  font-size: 1.5rem;
  margin-top: 10px;
}

.albums .al-right img {
  width: 100%;
}

.albums .al-right .fa-spotify {
  color: rgba(26, 145, 26, 0.747);
}

.albums .al-right .fa-spotify:hover {
  color: #3a5322;
}

.albums .al-right .fa-apple {
  color: rgba(221, 47, 154, 0.747);
  margin: 0 15px;
}

.albums .al-right .fa-apple:hover {
  color: #53224f;
}

.albums .al-right .fa-youtube {
  color: rgba(230, 0, 0, 0.74);
}

.albums .al-right .fa-youtube:hover {
  color: #532222;
}

@media screen and (max-width: 991px) {
  .albums .al-left h2 {
    font-size: 2.5rem;
  }
  .albums .al-middle h2 {
    font-size: 2.5rem;
  }
  .albums .al-right h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .albums {
    text-align: center;
  }
  .albums .al-left {
    margin: 40px 0;
  }
  .albums .al-left h2 {
    font-size: 3rem;
  }
  .albums .al-middle {
    margin: 40px 0;
  }
  .albums .al-middle h2 {
    font-size: 3rem;
  }
  .albums .al-right {
    margin: 40px 0;
  }
  .albums .al-right h2 {
    font-size: 3rem;
  }
}

.youtube {
  padding: 40px 0;
  text-align: center;
  background-color: rgba(236, 236, 236, 0.582);
}

.youtube .you-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.youtube .you-left iframe {
  width: 100%;
}

.youtube .you-left iframe:hover {
  opacity: 0.9;
}

.youtube .you-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.youtube .you-right h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Permanent Marker', cursive;
}

.youtube .you-right p {
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 768px) {
  .you-left {
    margin-bottom: 30px;
  }
  .you-right {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 576px) {
  .you-right {
    text-align: center;
  }
}

.events {
  padding: 40px 0;
  padding-bottom: 0;
  text-align: center;
}

.events .events-top h2 {
  font-size: 5rem;
  margin: 20px 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.events .toronto {
  height: 100vh;
  padding: 0;
  background-image: url(/img/toronto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.events .toronto .toronto-detail {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(68, 68, 68, 0.377);
  -webkit-transition: .5s;
  transition: .5s;
}

.events .toronto .toronto-detail:hover {
  background-color: rgba(68, 68, 68, 0.603);
}

.events .toronto .toronto-detail h2 {
  color: white;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
}

.events .toronto .toronto-detail a {
  color: white;
  background-color: rgba(0, 0, 0, 0.192);
  text-decoration: none;
  padding: 16px 30px;
  margin-top: 15px;
  border: 2px solid white;
}

.events .toronto .toronto-detail a:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

.events .vancouver {
  height: 50vh;
  padding: 0;
  background-image: url(/img/vancouver.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.events .vancouver .vancouver-detail {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: rgba(68, 68, 68, 0.377);
}

.events .vancouver .vancouver-detail:hover {
  background-color: rgba(68, 68, 68, 0.603);
}

.events .vancouver .vancouver-detail h2 {
  color: white;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
}

.events .vancouver .vancouver-detail a {
  color: white;
  background-color: rgba(0, 0, 0, 0.192);
  text-decoration: none;
  padding: 16px 30px;
  margin-top: 15px;
  border: 2px solid white;
}

.events .vancouver .vancouver-detail a:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

.events .newyork {
  height: 50vh;
  padding: 0;
  background-image: url(/img/newyork.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.events .newyork .newyork-detail {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: rgba(68, 68, 68, 0.555);
}

.events .newyork .newyork-detail:hover {
  background-color: rgba(68, 68, 68, 0.692);
}

.events .newyork .newyork-detail h2 {
  color: white;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
}

.events .newyork .newyork-detail a {
  color: white;
  background-color: rgba(0, 0, 0, 0.192);
  text-decoration: none;
  padding: 16px 30px;
  margin-top: 15px;
  border: 2px solid white;
}

.events .newyork .newyork-detail a:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

@media screen and (max-width: 768px) {
  .events-bottom .toronto {
    height: 50vh;
  }
  .events-bottom .toronto .toronto-detail {
    height: 50vh;
  }
  .events-bottom .vancouver {
    margin: 10px 0;
  }
}

.contacts {
  padding: 30px 0;
  background-image: url(/img/backImgLast.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts .contacts-title h2 {
  font-size: 4rem;
  margin-bottom: 30px;
  font-family: 'Permanent Marker', cursive;
}

.contacts .contacts-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts .contacts-left .contact-box {
  margin-bottom: 30px;
}

.contacts .contacts-left .contact-box p {
  margin: 10px 0;
  font-family: 'Ubuntu', sans-serif;
}

.contacts .contacts-left .address {
  width: 100%;
}

.contacts .contacts-left .address iframe {
  height: 200px;
  width: 100%;
  margin: 10px 0;
  border-radius: 7px;
}

.contacts .contacts-left .address p {
  font-family: 'Ubuntu', sans-serif;
}

.contacts .contacts-left h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.contacts .contacts-left .contacts-sns h3 {
  font-family: 'Ubuntu', sans-serif;
}

.contacts .contacts-left .contacts-sns .fa-twitter {
  color: #7a92fc;
}

.contacts .contacts-left .contacts-sns .fa-twitter:hover {
  color: #1640fa;
}

.contacts .contacts-left .contacts-sns .fa-instagram {
  color: #ff5773;
  margin: 0 10px;
}

.contacts .contacts-left .contacts-sns .fa-instagram:hover {
  color: #f00028;
}

.contacts .contacts-left .contacts-sns .fa-facebook {
  color: #4040da;
}

.contacts .contacts-left .contacts-sns .fa-facebook:hover {
  color: #1d1d97;
}

.contacts .contacts-left .contacts-sns i {
  font-size: 1.5rem;
}

.contacts .contacts-right .form {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
}

.contacts .contacts-right .form input {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
}

.contacts .contacts-right .form textarea {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
}

.contacts .contacts-right button {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.192);
  color: white;
  border: none;
  border-radius: 5px;
}

.contacts .contacts-right button:hover {
  background-color: rgba(64, 64, 64, 0.192);
}

@media screen and (max-width: 768px) {
  .contacts-title {
    margin-bottom: 30px;
    text-align: center;
  }
  .contacts-left {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 576px) {
  .contacts h2 {
    text-align: center;
  }
  .contacts .contacts-right {
    margin: 0 auto;
    width: 96%;
  }
}
/*# sourceMappingURL=style.css.map */