* {
    // overflow: hidden;
}

@mixin displayColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin albums {
    h2 {
        font-size: 3rem;
    }
    p {
        margin-top: 15px;
        font-size: 1.5rem;
    }
    i {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    img {
        width: 100%;
    }
}

@mixin sns {
    .fa-spotify {
        color: rgba(26, 145, 26, 0.747);
        &:hover {
            color: rgb(58, 83, 34);
        }
    }
    .fa-apple {
        color: rgba(221, 47, 154, 0.747);
        margin: 0 15px;
        &:hover {
            color: rgb(83, 34, 79);
        }
    }
    .fa-youtube {
        color: rgba(230, 0, 0, 0.74);
        &:hover {
            color: rgb(83, 34, 34);
        }    
    }
}

@mixin backImg {
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin btn($btnColor) {
    a {
        color: white;
        background-color: $btnColor;
        text-decoration: none;
        border-radius: 25px;
        padding: 16px 30px;
        margin-top: 15px;
        &:hover {
            background-color: lighten($btnColor,30%);
        }
    }
}

$borderCheck: 1px solid black;
$btnColor: black;
$colorTwitter:rgb(122, 146, 252);
$colorInstagram: rgb(255, 87, 115);
$colorFacebook: rgb(64, 64, 218);

header {
    border: $borderCheck;
    height: 70vh;
    background-image: url(/img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .header-contents {
        @include displayColumn;
        height: 70vh;
        width: 100%;
        border: $borderCheck;
        color: white;
        h1 {
            font-size: 9rem;
        }
        p {
            font-size: 3rem;
        }
    }
}

@media screen and (max-width:768px) {
    header {
        height: 70vh;
        .header h1 {
            font-size: 6rem;
        }
        .header p {
            font-size: 2rem;
        }
    }
}

.information {
    padding: 30px;
    margin-top: 30px;
    // background-color: rgb(224, 224, 224);
    .info-left {
        @include displayColumn;
        background-color: rgb(236, 236, 236);
        padding: 0;
        h2 {
            font-size: 4rem;
        }
    }
    .info-right {
        padding: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width:768px) {
    .information {
        .info-left {
            height: 40vh;
        }
        .info-right {
            height: 45vh;
        }
    }
}

.information2 {
    padding: 30px;
    margin-bottom: 30px;
    // background-color: rgb(224, 224, 224);
    .info2-left {
        padding: 0;
        img {
            width: 100%;
            height: 100%
        }
    }
    .info2-right {
        @include displayColumn;
        background-color: rgb(236, 236, 236);
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .information2 {
        .info2-left {
            height: 40vh;
        }
        .info2-right {
            height: 45vh;
        }
    }
}

.albums {
    padding: 50px 0;
    background-color: rgb(236, 236, 236);
    .album-title {
        font-size: 4rem;
        margin: 20px 0;
        padding: 0;

    }
    // padding: 30px 90px;
    // margin-top: 50px;
    // text-align: center;
    .al-left {
        @include albums;
        @include sns;
    }
    .al-middle {
        @include albums;
        @include sns;

    }
    .al-right {
        @include albums;
        @include sns;
    }
}

@media screen and (max-width: 768px) {
    .albums {
        text-align: center;
        .al-left {
            margin: 40px 0;
        }
        .al-middle {
            margin: 40px 0;
        }
        .al-right {
            margin: 40px 0;
        }
    }
}

.events {
    padding: 40px 0;
    .events-top {
        h2 {
            font-size: 5rem;
            margin: 20px 0;
            text-align: center;
        }
    }
    .toronto {
        height: 100vh;
        padding: 0;
        background-image: url(/img/toronto.jpg);
        @include backImg;
        .toronto-detail {
            height: 100vh;
            @include displayColumn;
            background-color: rgba(68, 68, 68, 0.377);
            h2 {
                color: white;
                font-size: 3rem;
            }
            @include btn($btnColor);
        }
    }
    .vancouver {
        height: 50vh;
        padding: 0;
        background-image: url(/img/vancouver.jpg);
        @include backImg;
        .vancouver-detail {
            height: 50vh;
            @include displayColumn;
            background-color: rgba(68, 68, 68, 0.377);
            h2 {
                color: white;
                font-size: 3rem;
            }
            @include btn($btnColor);
        }

    }
    .newyork {
        height: 50vh;
        padding: 0;
        background-image: url(/img/newyork.jpg);
        @include backImg;
        .newyork-detail {
            height: 50vh;
            @include displayColumn;
            background-color: rgba(68, 68, 68, 0.555);
            h2 {
                color: white;
                font-size: 3rem;
            }
            @include btn($btnColor);
        }
    }
}

@media screen and (max-width: 768px) {
    .events-bottom  {
        .toronto {
            height: 50vh;
            .toronto-detail {
                height: 50vh;
            }
        }
        .vancouver {
            margin: 10px 0;
        }
    }
}

.contacts {
    padding: 30px 0;
    .contacts-title {
        h2 {
            font-size: 3rem;
            margin-bottom: 30px;
        }
    }
    .contacts-left {
        @include displayColumn;
        align-items: flex-start;
        .contact-box {
            margin-bottom: 30px;
            p {
                margin: 10px 0;
            }
        }
        .address {
            width: 100%;
            // padding-right: 20px;
            iframe {
                height: 200px;
                width: 100%;
                margin: 10px 0;
                border-radius: 7px;
            }
        }
        h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        .contacts-sns {
            .fa-twitter {
                color: $colorTwitter;
                &:hover {
                    color: darken($colorTwitter,20%);
                }
            }
            .fa-instagram {
                color: $colorInstagram;
                margin: 0 10px;
                &:hover {
                    color: darken($colorInstagram,20%);
                }
            }
            .fa-facebook {
                color: $colorFacebook;
                &:hover {
                    color: darken($colorFacebook,20%);
                }
            }
            i {
                font-size: 1.5rem;
            }
        }
    }
    .contacts-right {
        .form {
            background-color: rgba(119, 119, 119, 0.541);
            border-radius: 15px;
            padding: 15px;
        }
        button {
            width: 100%;
            height: 40px;
            background-color: $btnColor;
            color: white;
            border: none;
            border-radius: 5px;
            &:hover {
                background-color: lighten( $btnColor,20%);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .contacts-title {
        margin-bottom: 30px;
        // text-align: center;
    }
    .contacts-left {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:576px) {
    // .contacts-title {
    //     margin-bottom: 0 10px 30px 10px;
    // }
    // .contacts-left {
    //     margin-bottom: 50px;
    // }
    // .form {
    //     margin: 0 10px;
    // }
    .contacts {
        margin: 0 15px;
    }
}