@mixin displayColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin albums {
    h2 {
        font-size: 3rem;
    }
    p {
        margin-top: 15px;
        font-size: 1.5rem;
    }
    i {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    img {
        width: 100%;
    }
}

@mixin sns {
    .fa-spotify {
        color: rgb(48, 175, 48);
    }
    .fa-apple {
        color: rgb(255, 102, 196);
        margin: 0 10px;
    }
    .fa-youtube {
        color: red;
    }
}

$borderCheck: 1px solid black;

header {
    border: $borderCheck;
    height: 70vh;
    background-image: url(/img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .header-contents {
        @include displayColumn;
        height: 70vh;
        width: 100%;
        border: $borderCheck;
        color: white;
        h1 {
            font-size: 9rem;
        }
        p {
            font-size: 3rem;
        }
    }
}

@media screen and (max-width:768px) {
    header {
        height: 70vh;
        .header h1 {
            font-size: 6rem;
        }
        .header p {
            font-size: 2rem;
        }
    }
}

.information {
    padding: 30px;
    background-color: rgb(224, 224, 224);
    .info-left {
        @include displayColumn;
        h2 {
            font-size: 4rem;
        }
    }
    .info-right {
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width:768px) {
    .information {
        .info-left {
            height: 40vh;
        }
        .info-right {
            height: 45vh;
        }
    }
}

.information2 {
    padding: 10px 30px 30px 10px;
    background-color: rgb(224, 224, 224);
    .info2-left {
        img {
            width: 100%;
        }
    }
    .info2-right {
        @include displayColumn;
    }
}

@media screen and (max-width:768px) {
    .information2 {
        .info2-left {
            height: 40vh;
        }
        .info2-right {
            height: 45vh;
        }
    }
}

.albums {
    padding: 50px 0;
    .album-title {
        font-size: 4rem;
        margin: 20px 0;

    }
    // padding: 30px 90px;
    // margin-top: 50px;
    // text-align: center;
    .al-left {
        @include albums;
        @include sns;
    }
    .al-middle {
        @include albums;
        @include sns;

    }
    .al-right {
        @include albums;
        @include sns;
    }
}

@media screen and (max-width: 768px) {
    .albums {
        text-align: center;
        .al-left {
            margin: 40px 0;
        }
        .al-middle {
            margin: 40px 0;
        }
        .al-right {
            margin: 40px 0;
        }
    }
}
   
